language: android
jdk: oraclejdk7
sudo: false
cache:
  directories:
    - $HOME/.gradle/caches/2.14.1
    - $HOME/.gradle/caches/jars-1
    - $HOME/.gradle/daemon
    - $HOME/.gradle/native
    - $HOME/.gradle/wrapper

android:
  components:
    - tools
    - build-tools-23.0.2
    - android-23
    - platform-tools
    - extra-google-google_play_services
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository
    - addon-google_apis-google-23

script:
  # The project currently contains no android tests.
  # By default Travis-ci executes './gradlew build connectedCheck' which checks for connected devices
  - ./gradlew build

licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
