ext {
    // Replace the existing values with your own unique keys
    crashlyticsKey = "1234567890123456789012345678901234567890"
    androidVendingKey = "Include your vending key here"
    mixpanelKey = "Include your mix panel key here"
    adMobUnitId = "Your own admob unit id here"
}
