<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.alexstyl.specialdates">

  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/localised_app_name"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.DeviceDefault">

    <activity
      android:name=".ContactEventsActivity"
      android:label="@string/localised_app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".ContactEventsProviderService"
      android:icon="@drawable/ic_complication_contact_event"
      android:label="@string/complications_provider_contact_events">

      <intent-filter>
        <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
      </intent-filter>

      <meta-data
        android:name="android.support.wearable.complications.SUPPORTED_TYPES"
        android:value="SHORT_TEXT,LONG_TEXT" />

      <meta-data
        android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
        android:value="0" />

    </service>

    <service android:name=".DataChangedListenerService">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

        <data
          android:host="*"
          android:pathPrefix="/next-contact-events"
          android:scheme="wear" />
      </intent-filter>
    </service>

  </application>

</manifest>
