<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.alexstyl.specialdates"
  android:installLocation="auto">


  <application
    android:name="com.alexstyl.specialdates.DebugApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/localised_app_name"
    android:theme="@style/Theme.Memento.BloodyCherry"
    tools:replace="android:name">

    <activity
      android:name="com.alexstyl.specialdates.debug.DebugActivity"
      android:icon="@drawable/ic_heart"
      android:label="Memento Debug"
      android:taskAffinity="com.alexstyl.debug"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".debug.MixingColorsActivity" />
  </application>

</manifest>
